@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');




.logo {
	position:fixed !important;
	top:40px !important;
	left:100px !important;
 	transform: translate(-50%, -50%) !important;
 	cursor :url('./pointcur.png')10 0,auto ;
}

