@charset "UTF-8";

.container {
	/*
position:absolute;  	
top:50%;
 	left:50%;
 	transform: translate(-50%, -50%); */
	margin: 0 auto;
	margin-top: 200px;
	width: 1300px;
	height: 700px;
}

.my-page-all-con {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.my-page-left-con {
	position: relative;
	top: 68px;
	right: 25px;
	width: 200px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
	width: 200px;
}

.my-page-right-con {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.right-nickname {
	position: relative;
	top: 16px;
	right: 20px;
}

.my-page-sub-right-con {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.my-page-sub-right-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	right: 80px;
}

.my-page-right-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.my-content-con {
	overflow: scroll;
	width: 800px;
	height: 500px;
	background-color: #f8f8f8;
}

.insert-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 5px;
	color: grey;
}

.insert-btn-con {
	position: relative;
	top: 25px;
	left: 325px;
	font-size: 5pt;
}

h3 {
	margin-bottom: 50px;
}

.member-community-count-wrap, .member-reply-count,
	.member-play-list-wrap, .member_point_list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}