@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


body{
	background-color: #f2f0ec;
	  font-family: 'Noto Sans KR', sans-serif;
  cursor: url('./cur.png')10 0,auto;
}


.logo {
	position: fixed;
	display: inline-block;
	width: 100px;
	height: 48px;
	margin-top: 46px;
	margin-left: 54px;
 	transition:width 2s, height 2s;
	cursor :url('./pointcur.png')10 0,auto ;
	z-index: 9999;
}

/*네비게이션 설정  */
nav {
	position: fixed;
	top: 50px;
	left: 1400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	list-style-type: none;
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
}

nav ul li {
	padding: 0;
	margin: 0;
}

nav ul li a {
	text-decoration: none;
	font-weight: 800;
	padding-left: 50px;
	font-size: 15pt;
	display: flex;
	align-items: flex-end;
	color: black;
	margin-left: 125px !important;
}

nav ul li a:hover {
	text-decoration: none;
	
}

nav ul li a:visited {
	text-decoration: none;
	color: black;
}

.lens-img{
	position:relative;
	top:-1px;
	width: 20px;
	height: 20px;
}

#search-form{
	position:absolute;
	top:115px;
	right:250px;
	display: none;
}

.search-home-container {
       background: #f2f4f6;
    	max-width: 600px;
    	margin: 40px auto;
}

.search-home-container input[type="text"] {
	    display: block;
	    width: 243px; /*20px [ left & Right ] padding + 4px border [ left & Right ] */ 
	    font-size: 18px;
	    font-weight: 500;
	    color: #4b00ff;
	    padding: 10px;
	    border: 2px solid #4b00ff;
}

.search-home-container form {
    position: relative;
}
.search-home-container form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    border: transparent;
    font-size: 20px;
    color: #4b00ff;
    cursor: pointer;
    outline: 0;
}
.white-screen {
/*   background-color: #f2f0ec; */
  opacity: 0;
  animation: fade 3s ease-in-out 1;
  z-index: 9999;
}

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


.header-con {
	top:0px;
	width: 1920px;
	height: 150px;
	background-color: #f2f0ec;
	position: fixed;
	z-index: 500;
}


nav {
	z-index: 9999;
}
